<h2>Cadastrar Alunos</h2>
<form>
    <label for="nome">Nome: </label>
    <input type="text" name="nome" [(ngModel)]="aluno.nome">
    <label for="nome">Idade: </label>
    <input type="text" name="idade" [(ngModel)]="aluno.idade">
    <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>
<hr>



<h2>
    Alunos Cadastrados
</h2>
<table>
    <tr>
        <th>#id</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Ações</th>
    </tr>
    <tr *ngFor="let aluno of alunos">
        <td>{{ aluno.id }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.idade }}</td>
        <td><button type="button" (click)="atualizar(aluno.id)">Atualizar</button><button type="button" (click)="remover(aluno.id)">Remover</button></td>
    </tr>
</table>